# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
venv
*.iml
out
gen
__pycache__/
venv/Include/
venv/Lib/site-packages/PIL/__pycache__/
venv/Lib/site-packages/iterable/__pycache__/
venv/Lib/site-packages/iterable/test/__pycache__/
venv/Lib/site-packages/iterable/test/resources/__pycache__/
venv/Lib/site-packages/iterable_collections/__pycache__/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/compat/tests/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/_private/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip
-10.0.1-py3.7.egg/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip-10.0.1-py3.7.egg/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/sit
e-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/requests/packages/__pycache__/
venv/Lib/site-packages/requests/packages/chardet/__pycache__/
venv/Lib/site-packages/requests/packages/urllib3/__pycache__/
venv/Lib/site-packages/requests/packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/requests/packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/requests/packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/requests/packages/urllib3/util/__pycache__/
venv/Scripts/__pycache__/
